body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;

}
.logo{
    padding-left: 10px;
    height: 90px;
    width: 90px;
}
.nav-items-div{
    background-color: black;
}
.nav-items-div > ul{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
/* link styles */
.custom-link{
    list-style: none;
    padding: 10px;
    font-size: 18px;
    color: gold;
    text-decoration: none;

}

.restocard-wrapper{
    background-color: transparent;
    display: flex;
    justify-content: center;
    width: 300px;
    flex-direction: column;
    cursor: pointer;
    height: 400px;

    transition: transform 0.3s ease-in-out;
    

}
.restocard-wrapper:hover{
 
    transform: scale(1.1);
}


.restocardfont0{
    font-size: 18px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-decoration: none;
    padding-left: 20px;
}

.restocardfont1{
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-decoration: none;
    padding-left: 20px;
    color: black;
}
.restocardfont2{
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-decoration: none;
    padding-left: 20px;
    color: rgb(96, 94, 94);
    font-weight: lighter;
    font-weight: 400;
  
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

      
}
/* restocardlinkcolor */
.restoLink{
    text-decoration: none;
    color: black;
   
}

.restoLink:hover{
  color: black
   
}
.restoLink:active{
    color: black
   
}
/* restocardlinkcolor */
.restologo{
    height: 180px;
    width: 280px;
    padding: 10px;
    border-radius: 20px;
    object-fit: cover;
    filter: drop-shadow(0 4px 4px rgba(10, 10, 10, 0.2));
}
.res-container{
    /* background-color: rebeccapurple; */
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
    align-items: center;
    padding: 20px;
   
}
.eg{
    height: 50px;
    width: 150px;
    margin: 50px;
    padding: 50px;
    background-color: tan;
  
}
.searchbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(207, 201, 213);
    
}
.searchbarbox{
    width: 800px;
    height: 50px;
    font-size: 15px;
    margin: 20px;
    border-radius: 5px;
    border-color: rgb(224, 229, 248);

}
.search-icon{
  font-size: 40px;
}

/* shimmer-ul-styles */


.shimmer-searchbar{
    width: 25%;
    height: 65px;
    background-color: #f0f0f0;
    display: flex;
}

.shimmer-card-wrapper{
 
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    background-color: #f0f0f0;
    display: flex;
    height: 350px;
    width: 250px;
    margin: 15px;

  
}
.shimmer-main-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.login-btn{
    width: 80px;
    height: 30px;
    border-radius: 20px;
    background-color: gold;
    font-weight: bolder;
    cursor: pointer;
}
/* 
error pg */
.error_img{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
   
}
.wrapper-err-img{
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: cursive;
 

}
/* user style */
.user{
    border: 2px pink;
}