body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;

}
.logo{
    padding-left: 10px;
    height: 90px;
    width: 90px;
}
.nav-items-div{
    background-color: black;
}
.nav-items-div > ul{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.nav-items-div > ul > li{
    list-style: none;
    padding: 10px;
    font-size: 18px;
    color: gold;

}

.restocard-wrapper{
    background-color: rgb(230, 223, 223);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 250px;
    flex-direction: column;
    text-align: center;
    height: auto;
    cursor: pointer;

}
.restocard-wrapper:hover{
    background-color: rgb(217, 218, 220);
}
.restocardfont0{
    font-size: 20px;
    
}

.restocardfont1{
    font-size: 15px;
    
}

.restologo{
    height: 180px;
    width: 180px;
    padding: 10px;
}
.res-container{
    /* background-color: rebeccapurple; */
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
    align-items: center;
    padding: 20px;
   
}
.eg{
    height: 50px;
    width: 150px;
    margin: 50px;
    padding: 50px;
    background-color: tan;
  
}
.searchbarbox{
    width: 250px;
    height: 50px;
    font-size: 15px;
}

/* shimmer-ul-styles */


.shimmer-searchbar{
    width: 25%;
    height: 65px;
    background-color: #f0f0f0;
    display: flex;
}

.shimmer-card-wrapper{
 
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    background-color: #f0f0f0;
    display: flex;
    height: 350px;
    width: 250px;
    margin: 15px;

  
}
.shimmer-main-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.login-btn{
    width: 80px;
    height: 30px;
    border-radius: 20px;
    background-color: gold;
    font-weight: bolder;
}